version: '3'

services:
  frontend:
    image: "grocy/frontend"
    depends_on:
      - backend
    ports:
      - "${FRONTEND_PORT:-80}:80"
    read_only: true
    tmpfs:
      - /tmp
    volumes:
      - /var/log/nginx
  backend:
    image: "grocy/backend"
    read_only: true
    environment:
      GROCY_MODE: "production"
      GROCY_CULTURE: "de"
      MAX_UPLOAD: 50M
      PHP_MAX_FILE_UPLOAD: 200
      PHP_MAX_POST: 100M
      PHP_MEMORY_LIMIT: 512M
    tmpfs:
      - /tmp
    volumes:
      - /var/log/php8
      - app-db:/var/www/data

volumes:
  app-db:
