version: '3'

services:
  app:
    image: 'strapi/strapi'
    depends_on:
      - db
    environment:
      - DATABASE_CLIENT=postgres
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=strapi
      - DATABASE_USERNAME=${DB_USER}
      - DATABASE_PASSWORD=${DB_PASS}
    ports:
      - '${PORT:-1337}:1337'
    restart: always
    volumes:
      - app:/srv/app

  db:
    image: 'postgres'
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=strapi
    restart: always
    volumes:
      - db_data:/var/lib/mysql

volumes:
  app:
  db_data:
