version: '3'

services:
  app:
    image: lscr.io/linuxserver/bookstack
    environment:
      - PUID=1000
      - PGID=1000
      - APP_URL=${APP_URL}
      - DB_HOST=db
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_DATABASE=bookstackapp
      - MAIL_USERNAME=apikey
      - MAIL_PASSWORD=${MAIL_PASS}
      - MAIL_HOST=smtp.sendgrid.net
      - MAIL_PORT=587
    volumes:
      - app_data:/config
    ports:
      - "${PORT:-80}:80"
    restart: always
    depends_on:
      - db
  db:
    image: "mariadb"
    environment:
      - MARIADB_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=bookstackapp
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASS}
    volumes:
      - db_data:/config
    restart: always

volumes:
  app_data:
  db_data: