version: '3'

services:
  app:
    image: 'monica'
    ports:
      - '${PORT}:80'
    depends_on:
      - db
    environment:
      - APP_KEY=${APP_KEY}
      - DB_HOST=db
      - DB_PASSWORD=${DB_PASS}
      - DB_USERNAME=${DB_USER}
      - MAIL_MAILER=smtp
      - MAIL_HOST=smtp.sendgrid.net
      - MAIL_PORT=587
      - MAIL_USERNAME=apikey
      - MAIL_PASSWORD=${MAIL_PASS}
      - MAIL_ENCRYPTION=tls
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
    restart: always
    volumes:
      - app:/var/www/html/storage

  db:
    image: 'mysql'
    environment:
      - MYSQL_DATABASE=monica
      - MYSQL_PASSWORD=${DB_PASS}
      - MYSQL_USER=${DB_USER}
      - MYSQL_RANDOM_ROOT_PASSWORD=true
    restart: always
    volumes:
      - db:/var/lib/mysql

volumes:
  app:
  db: